body{
    background: url('../img/bg-home.jpg')no-repeat;
    background-size: 100%;
    background-position-y: -25px;
    background-attachment: fixed;
}
.page{
    background:rgba(0, 0, 0,.7);
}
nav.navbar-transparente{
	background: rgba(0, 0, 0,0.7);
	padding: 10px 0;
}
.invisible{
    display: none;
}
span.text-logo{
    color: rgb(250, 250, 250);
    border-top:2px solid red;
    border-bottom:2px solid red;
    font-size: 2em;
}
.logo:hover{
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
	color: red;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:white;
}


.main h1{
    border-bottom:1px  solid red ;
    border-top:1px  solid red ;
    background-color:rgba(0, 0, 0,0.7); ;
    color: azure;
}
.text-logo{
    font-size: x-large;
}
.catalogo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cartaz{
    border:1px solid red;
    width: 200px;
    margin-bottom: 10px;
    transition: .5s;
}
.cartazFilme{
    border:1px solid red;
    width: 100%;
    margin-bottom: 10px;
    transition: .5s;
}
.cartaz-destaque{
    border:3px solid goldenrod;
    width: 210px;
    margin-bottom:15px;
}
.cartaz:hover{
    border:3px solid rgb(248, 248, 248);
    width: 230px;
}
footer{
    background: #000;
    color: azure;
    text-align: center;
}

/* estilo pagina info filme */

.btnSessao{
    font-size: small;
}
.btnSessao:hover{
    font-size:medium;
    background-color: rgba(0, 0, 0,0.9);
    color: white;
    border:2px solid red ;
}

/* estilo pagina admin */

.cadastroFilme{
   border: 2px solid red;
   
   margin: 0 auto;
   color:red;
   font-size: large;
}

.table{
    color: white;
    font-size: 18px;
}

#telaBuscarIngresso{
    transition: 1s;
    position: absolute;
    z-index: 100;
    width: 90%;
    height: 90%;
    left:5%;
    top:5%;
    background-color: gray;
    border:5px solid red;
    border-radius: 10px;
}
.fechar{
    font-size: large;
    margin-right: auto;
}
.campoCodigo{
    margin-top: 3px;
    font-size: 30px;
    line-height: 45px;
    text-align: center;
    width: 50%;
    
}
.pesquisar{
    
    font-size: 25px;
    margin-top: -12px;
    align-self: center;
    
}

 #webcan{
    border:1px solid red;
    width: 200px;
    height: 200px;
    zoom: 1;
    margin: auto 0;
} 

/* estilo pagina login */

.caixa-login{
    text-align: center;
    color: rgb(250, 250, 250);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    width:400px;
    margin: 0px auto;
    border: 3px solid red;
    padding:15px;
    border-radius: 10px;
}
.caixa-login input{
    border-radius: 10px;
}
.caixa-login button{
   width: 150px;
}
.caixa-login a{
    color: rgb(248, 248, 248);
    font-size: large;
 }
 .caixa-login span{
    color: red;
    font-size: medium;
 }

 .caixa-login #labelTermos{
    color: red;
    font-size: 16px;
 }

 #mensagem{
     display: block;
     text-align: center;
     color:white;
     background: rgba(228, 10, 10, 0.521);
 }
 #msgErro{
    display: block;
    text-align: left;
    font-size:small;
    color:white;
    background: rgba(228, 10, 10, 0.521);
 }
 /* estilo pagina usuario*/
.ingresso{
    font-size: medium;
    font-weight: normal;
    margin-top: 10px;
    width: 98%;
    margin:0 auto;
    border:2px solid red;
    border-left: none;
    background-color: rgb(112, 112, 112);
}
.btnIngresso{
    border-left:1px dashed red;
    display: flex;
    align-items: center;
}


    #codigo{
        width: 100%;
        margin: 0 auto;
        align-items: center;
        padding-bottom:10px;
        border: 2px solid red;
        background: rgb(250, 124, 124);
    } 

    @media screen and (min-width : 900px){ 
        #codigo{
           width: 30%;
           align-items: center;
           margin-bottom:10px;
           border: 2px solid red;
           padding: 10px;
           background: rgb(250, 124, 124);
         } 
       } 


#QrCode{
    padding: 30px;
    margin: 0 auto; 
}

#stringCodigo{
    font-weight: normal;
    border-top:2px solid red;
    border-bottom:2px solid red;
    border-color: red;
    text-align: center;
    background: #000;
}
/* estilo pagina ingresso*/
.dados-ingresso{
    border-bottom:2px  solid red ;
    border-top:2px  solid red ;
    background-color:rgba(0, 0, 0,0.7); 
    color: azure;
}
.dados-ingresso h1{
    border-bottom:none;
    border-top:none;
    background-color:rgba(0, 0, 0,0);
}

.form-compraIngresso{
    
    display:block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: xx-large;
    color: white;
    align-items:center ;
}
.linha{
    display: block;
    width: 100%;
}
#qtdIngresso{
        width: 100px;
}
.form-compraIngresso button{
    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: x-large;
   
}


.produtos{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}
.assentos{
    border-bottom: 4px solid whitesmoke;
    width: 270px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-bottom: 10px;
}
.assentos button.cadeira{
    background-color: rgba(0, 0, 0,.7);
    color:hsl(84, 100%, 49%) ;
    padding: 0;
    font-size: 15px;
    margin:5px;
    width: 23px;
    height:23px;
    border: 1px solid hsl(84, 100%, 49%);
}
.assentos button.cadeira.ocupado{
    color:white;
    background-color:rgb(250, 32, 24);
    border: 1px solid hsl(90, 33%, 99%);
}

.assentos button.cadeira.selecionado{
    color:white;
    background-color:rgb(250, 227, 24);
    border: 1px solid hsl(90, 33%, 99%);
}

.caixa-produto{
    line-height: 20px;
    font-size: 1em;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
    width: 250px;
    height: 250px;
    
}
.caixa-produto span{
    font-size: large;
}
.caixa-produto .botao-redondo{
   text-align: center;
   line-height: 40px;
   width: 40px;
   height: 40px;
   padding: 0;
   border:none;
   border-radius: 50%;
}
.qtdProduto{
    text-align: center;
    background-color:white;
    border:blue;
    width: 30%;
    line-height: 40px;
}


.adicionar{
    color: white;
    background-color: lime;
}
.remover{
    color: white;
    background-color:red;
}

.total{
    position: fixed;
    right: 0;
    bottom: 90px;
    text-align: left;
    border : 3px solid Red;
    border-left: none;
    padding-left: 20px;
    width: 198px;
    height: 96px;
    border-radius: 30px 0 0 30px ;
    background-color: rgba(255, 255, 0, 0.911) ;
    color: rgb(0, 0, 0);
}
.total small{
    line-height:10px;
    margin-bottom: 2px;
    font-size: medium;
}
.total span{
    margin-top: 0px;
    line-height:30px;
    font-size:30px;
}