body{
    background: url('../img/bg-home.jpg')no-repeat;
    background-size: 100%;
    background-position-y: -25px;
    background-attachment: fixed;
}
.page{
    background:rgba(0, 0, 0,.7);
}
nav.navbar-transparente{
	background: rgba(0, 0, 0,0.7);
	padding: 10px 0;
}
.invisible{
    display: none;
}
span.text-logo{
    color: rgb(250, 250, 250);
    border-top:2px solid red;
    border-bottom:2px solid red;
    font-size: 2em;
}
.logo:hover{
    text-decoration: none;
}

.navbar-light .navbar-nav .nav-link{
	color: red;
}
.navbar-light .navbar-nav .nav-link:hover{
	color:white;
}


.main h1{
    border-bottom:1px  solid red ;
    border-top:1px  solid red ;
    background-color:rgba(0, 0, 0,0.7); ;
    color: azure;
}
.text-logo{
    font-size: x-large;
}
.catalogo{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.cartaz{
    border:1px solid red;
    width: 200px;
    margin-bottom: 10px;
    transition: .5s;
}
.cartazFilme{
    border:1px solid red;
    width: 100%;
    margin-bottom: 10px;
    transition: .5s;
}
.cartaz:hover{
    border:3px solid rgb(248, 248, 248);
    width: 230px;
}
footer{
    background: #000;
    color: azure;
    text-align: center;
}
/* estilo pagina admin */

.cadastroFilme{
   border: 2px solid red;
   
   margin: 0 auto;
   color:red;
   font-size: large;
}

.table{
    color: white;
    font-size: 18px;
}
.input-pequeno{
    width: 40px;
}

   

